<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{admin-template}">
<head>
<meta charset="ISO-8859-1">
<title>Cateogry</title>
	
</head>
<body>
	<h3 layout:fragment="sub-title">Category List</h3>
	
	<a th:href="@{categories/add}" class="btn btn-success" layout:fragment="add-link">Add</a>
	
	<table class="table" layout:fragment="content-body">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Action</th>
		</tr>
		<th:block th:each="cate : ${categoryList}">
			<tr>
					<td th:text="${cate.id}">ID</td>
					<td th:text="${cate.name}">Name</td>
					
					<td>
						<a th:href="@{'/categories/edit/' + ${cate.id}}" class="text-success">Edit</a>
						<a th:href="@{'/categories/delete/' + ${cate.id}}" class="text-danger">Delete</a>
					</td>
				</tr>
		</th:block> 
		
	</table>
</body>
</html>