
<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="row mt-3">
			<div class="col-8">
				<h3>Product List</h3>
			</div>
			<div class="col">
				<a th:href="@{/product/add}" class="btn btn-primary">Add</a>
			</div>
		</div>
		<hr />
		<table class="table">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Price</th>
				<th>Action</th>
			</tr>
			<th:block th:each="prod: ${productList}">
				<tr>
					<td th:text="${prod.id}"></td>
					<td th:text="${prod.name}"></td>
					<td th:text="${prod.price}"></td>
					<td>
						<a th:href="@{'/product/edit/' + ${prod.id}}" class="text-primary">Edit</a>
						<a th:href="@{'/product/delete/' + ${prod.id}}" class="text-danger">Delete</a>
					</td>
				</tr>
			</th:block>
		</table>
	</div>
</body>
</html>